/*styles go here*/

p {
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	text-decoration: none;
	text-align:center;
	font-size: 15pt;
}

p{
	margin-left:100px;
	margin-right:100px;
}
nav ul {
	color: black;
	font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	font-size: 10pt;
}
#nav a:link, #nav a:visited{
	display: block;
	text-decoration: none;
	color: black;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	font-weight: bold;
	font-size: 11pt;
}
#nameheader{
	color: #333333;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 15pt;
	background-color: none;
	text-align:left;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}
.caption{
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 15pt;
	text-align: center;
	text-decoration: none;
	margin-top: auto;
	margin-bottom: auto;
}

.header {
	color:white;
	background-color:#41a5f0;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	text-decoration: none;
}

.name {
	color:white;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 16pt;
	background-color: #41a5f0;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.jobtitle {
	  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 5px;
}

.internpic {
	border: 2px solid #333333;

}

.profilepic {
	float: left;
	padding: 10px;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
		text-decoration: none;
}

#nav {
    padding: 0;
	  list-style-type: none;
		text-decoration: none;
}

ul {
	padding:0;
	list-style-type: none;
	font-style: "Avenir", "Helvetica Neue", sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

.internpage{
	background-color: #41a5f0;
	color: white;
	font-weight: bold;
	font-size: 20pt;
}
#internpage a:link, #internpage a:visited{
background-color: #41a5f0;
color: white;
font-weight: bold;
font-size: 20pt;
text-decoration:none;
}
.video{
	text-align: center;
	text-decoration: none;
	margin-top: auto;
	margin-bottom: auto;
}
.footer {
	background-color: #f9f9f9;
	font-style: "Avenir", "Helvetica Neue", sans-serif;
	font-size: 10pt;
	text-align: center;
	color: black;
	font-weight: bold;
}

#footer a:link, #footer a:visited{
	display: column;
	background-color: #f9f9f9;
	font-style: "Avenir", "Helvetica Neue", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: black;
	text-decoration: none;
}
@media screen and (min-width:500px){
.navigation{
 flex-flow: row;
 justify-content: flex-end;
}
.navigation a{
	border: none;
}

article{
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	grid-gap: 5px;
	grid-template-areas:
	"a b b"
	"e c c"
	"d j j"
	"h i i"
	"g g g";
}
.logo{
	grid-area:a;
}

.navigation{
	grid-area:b;
}

.body{
	grid-area:c;
}
.image{
	grid-area:e;
}
.nameheader{
	grid-area:d;
}
.footer{
	grid-area:g;
}
.twitterlogo{
	grid-area:h;
}
.video{
	grid-area:i;
}
.caption{
	grid-area:j;
}
}
