
p {
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	text-align:left;
	font-size: 15pt;

}


nav ul {
  list-style-type: none;
  font-family: "Avenirn", "Helvetica Neue", Arial, sans-serif;
  color:black;
  display:flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;

}

.testnav {
  display: flex;
  justify-content: space-between;
}

.testnav {
height: 45px;
align-items: center;
padding-left: 10px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #41a5f0;
}

a:hover {
  color: grey;
}

.header {
font-family: "Avenirn", "Helvetica Neue", Arial, sans-serif;
background-color: #41a5f0;
color:white;
text-align: center;
}

.footer  {
list-style: none;
display: flex;
flex-flow: row;
justify-content: space-between;
padding: 10px;
margin: 0;
}

.final {
  font-size: 8px;
  margin-left: 0;
}

.card p {
font-style: Georgia, serif;
color:black;
font-size: 10pt;
}


/* .homepageinterns {
  display: grid;
  grid-template-areas:
  "a b a"
  "b a b";

} */

/* #Intern_1 {
  grid-area: a;
}
#Intern_2 {
  grid-area: b;
} */

.footer {
 display: flex;
	flex-flow: column;
	background-color:#eeeded;
}

.final {
	background-color: #eeeded;
}

.flexinterns {
	display: flex;
	flex-flow: wrap;
}

.internimage {

	max-width: 500px;
	margin-top: 20px;
}

.nameheader {
	padding-left: 0;
}

.newsy_vid {
	justify-content: center;
	padding-left: 25%;
}

/* Intern page text/info styling */
.name {
	font-family: Georgia, serif;
	font-size: 22pt;
	color: white;
	background-color: #41a5f0;
}

.uni {
	color:black;
	font-size: 10pt;
}

.hometown {
	color:black;
	font-size: 10pt;
}

.twitter {
	display:flex;
	flex-flow: row;
}

.twittername {
	font-size: 10pt;
	color:black;
}

.internflex {
	display: flex;
	flex-flow: wrap;
}

.caption {
	font-size: 10pt;
	color:black;

}

/* <<<<<<< HEAD */
.everythingbutfooter{
	padding: 20px;
	padding-bottom: 500px;
}
.stickyfooter {
margin-top:-50px;
}

.bottomcolor {
background-color: #eeeded;

}


#slogan {
	font-size: 20pt;
	font-family: "Avenirn" "Helvetica Neue", san-sans-serif;
	font-style: italic;
	text-align: center;
	color:black;
}


@media screen and (max-width:375px) {
	iframe {
		width:100%
	}

	.newsy_vid {
		width:100%;
		padding-left: 0;
	}

	p {
		margin-left: 10px;
		margin-right: 10px;
	}

}
=======
/* >>>>>>> 6927ef37383d16196e6990d79ffe55faaee1213b */

@media screen and (min-width:450px) {

   nav ul {
     display: flex;
     flex-flow: row;
     justify-content: space-between;
   }

	 .homepageinterns {
		 display: flex;
		 flex-flow: row;
		 flex-wrap: wrap;
	 }

	 .card {
		 width: 48%;
		 margin-right: 10px;
	 }

	 .testnav {
		 display: flex;
		 justify-content: flex-end;
		 padding-right: 10px;
	 }

}

@media screen and (min-width:800px) {
	.testnav {
		justify-content: flex-end;
	}

	.testnav li {
		margin-left:20px;
	}

	.footer {
	 display: flex;
		flex-flow: row;

	}

}

@media screen and (min-width:740px) {

	.nameheader {
		margin-left: 20px;
	}

}

@media screen and (min-width:1000px) {
		.container {
			max-width: 1000px;
			margin: 0 auto;
		}

		.card {
 		 max-width: 32%;
 		 margin-right: 10px;
 	 }
}
