/*styles go here*/

p {
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	text-decoration: none;
	text-align:right;
	font-size: 15pt;
	margin-left:50px;
	margin-right:50px;
}


#nav a:link, #nav a:visited{
	display:block;
	flex-flow: row;
	color: black;
  font-family: "Avenirn", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	text-decoration: none;
}

#nameheader{
	color: #333333;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 18pt;
	background-color: none;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.header {
	background-color:#41a5f0;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	font-size: 18pt;
	text-decoration: none;
	color: white;
}


.name {
	color:white;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 16pt;
	background-color: #41a5f0;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.jobtitle {
	  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 5px;
}

.internpic {
	border: 2px solid #333333;

}

.profilepic {
	float: left;
	padding: 10px;
}

#title {
	text-align: left;
		text-decoration: none;
		margin-left: 10px;
		margin-bottom: auto;
}
h1 {
    font-family: Georgia, "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
		text-decoration: none;
}


nav ul {
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 font-size: 12pt;
}

.internpage{
	background-color: #41a5f0;
	color: white;
	font-weight: bold;
	font-size: 20pt;
}
#internpage a:link, #internpage a:visited{
background-color: #41a5f0;
color: white;
font-weight: bold;
font-size: 20pt;
text-decoration:none;
}

.footer {
	background-color: #f9f9f9;
	font-style: "Avenir", "Helvetica Neue", sans-serif;
	font-size: 10pt;
	text-align: center;
	color: black;
	font-weight: bold;
	display: row;
}

#footer a:link, #footer a:visited{
	display: column;
	background-color: #f9f9f9;
	font-style: "Avenir", "Helvetica Neue", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: black;
}

@media screen and (min-width:300px){
	.navigation {
		flex-flow:column;
		justify-content:flex-start;
}

.navigation a {
		border: none;
}
article{
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
	"a b b"
	"c c c"
}
.logo{
	grid-area:a;
}
.navigation{
	grid-area:b;
}
.header{
	grid-area:c;
}
}

@media screen and (min-width:800px){
	.navigation {
		flex-flow:row;
		justify-content: flex-end;
}

.navigation a {
		border: none;
}
article{
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
	"a b b"
	"c c c"
}
.logo{
	grid-area:a;
}
.navigation{
	grid-area:b;
}
.header{
	grid-area:c;
}
}
