/*styles go here*/

p {
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
}

#nav {
	color: #666666;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	background-color: white;
	font-weight: bold;
}
#nameheader{
	color:white;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
	font-size: 24pt;
	background-color: #41a5f0;
	text-align: right;
	font-weight: bold;
}
#Title {
	text-align: right;
}
h1 {
    font-family: Georgia, "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}
